
body {
  font-family: 'Nova Square', sans-serif;
    display: flex;
    flex-direction:column;
    overflow-x: hidden;
    min-height: 100vh;
  }
.Heading{
    color:black;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-family: 'Nova Square', sans-serif;
    z-index: 1;
    font-size: 25px;
}
h6{
  text-align: center;
  margin-top: -20px;
  font-size: 20px;
  margin-bottom: -10px;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 2;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f5f5f5;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
  }
.menu{
    color:black;
    text-align:left;
    position:absolute;
    top: 10%;
    left: 2%;

} 
.login{
  color:black;
  text-align:left;
  position:absolute;
  top: 10%;
  right: 2%;

}
.login a{
  color:black;
  text-decoration: none;
} 
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 30px;
    top: 15px;
    right: 35px;
    }
}
div hr{
    color:black;    
    font-weight: bolder;
  }
  footer, .push {
    width: 100vw;
    background-color: black;
    color: #fff;
    text-align:center;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid lightgrey;
    border-radius: 1px;
    max-width: 50%;
    max-height: 50%;
    margin-left: 300px;
    margin-top: 10px;
}
  
  img {
    max-width: 70%;
    max-height: 500px;
  }
  
  .text {
    font-size: 25px;
    padding-right: 50px;
    text-align: center;

  }
.text p{
    font-size: 20px;
    padding-top: -10px;
    font-style: oblique;
    font-weight:light;
    color:darkslategrey;
}
.Buggati{
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
}
.m{
    text-decoration: none;
    color: black;
}
.m img{
    height: 220px;
    width: 550px;
    padding-left: 10px;
}
.m5{
    text-decoration: none;
    color: black;
}
.m5 img{
    height: 200px;
    width: 450px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
