*{
    box-sizing: border-box;
}
body {
    font-family: 'Nova Square', sans-serif;;
    display: flex;
    flex-direction:column;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: #b12727;
}

header {
    font-style: italic;
    font-family: 'Nova Square', sans-serif;;
    z-index: 1;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    background: #f5ebe0;  /* fallback for old browsers */
    

    color: #fff;
    text-decoration: none;
}
.Heading a{
  text-decoration: none;
  color: #F26A8D;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #BBBDF6;
}

/*section {
    padding: 40px;
    background-color: #f5ebe0;
    background-image: url("#");
    
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}*/

h2 {
    color: #646E78;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    color: #000000;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 2;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color:lightgrey;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #b12727;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
  }
.menu{
    color:#f5f5f5;
    text-align:left;
    position:absolute;
    top: 15%;
    left: 2%;

}  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 30px;
    top: 15px;
    right: 35px;
    }
}
div hr{
  color:black;    
  font-weight: bolder;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #f5ebe0;
    color: #fff;
    height: px;
}
.karl_benz{
    height: 250px;
}
figcaption{
    color: black;
    font-size: 50px;
}
.column {
    float:left;
    width:50%;
    padding: 2px;

}
  .row::after {
    content: "";
    clear: both;
    display: table;
}
#more {display: none;} 

button{
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3cdaa0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}
button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*    */


/*.scrollHalf { position: relative}
/*.scrollHalf__grupo { opacity: calc(1/(1+(var(--visible-y)*var(--visible-y)*var(--visible-y)*var(--visible-y)))); transition: all 200ms ease-in-out;}*/


/*.scrollHalf__grupo {  transition: all 200ms ease-in-out; }
.scrollHalf__grupo__imagen { overflow: hidden; }
.scrollHalf__grupo__contenido { padding: 3rem;     }


.scrollHalf__grupo[data-scroll="out"] { opacity: 0;}
.scrollHalf__grupo[data-scroll="in"] { opacity: calc(var(--visible-y)*1.9);  }  


@media screen and (min-width:900px) {
  .scrollHalf__grupo { min-height: 100vh;}
  .scrollHalf__grupo__imagen { position: fixed; top: 0; left: 0; width: 50vw;}
  .scrollHalf__grupo__imagen img {  min-height: 100vh;  min-width: 50vw; }
  .scrollHalf__grupo__contenido { margin: 0 3vw 0 52vw;}
}*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #15181A;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.skw-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.skw-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.skw-page__half {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  transition: transform 1s;
}
.skw-page__half--left {
  left: 0;
  transform: translate3d(-32.4vh, 100%, 0);
}
.skw-page__half--right {
  left: 50%;
  transform: translate3d(32.4vh, -100%, 0);
}
.skw-page.active .skw-page__half {
  transform: translate3d(0, 0, 0);
}
.skw-page__skewed {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 140%;
  height: 100%;
  transform: skewX(-18deg);
  background: #000;
}
.skw-page__half--left .skw-page__skewed {
  left: -40%;
}
.skw-page__half--right .skw-page__skewed {
  right: -40%;
}
.skw-page__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 30%;
  color: #fff;
  transform: skewX(18deg);
  transition: transform 1s, opacity 1s;
  background-size: cover;
}
.skw-page__half--left .skw-page__content {
  padding-left: 30%;
  padding-right: 30%;
  transform-origin: 100% 0;
}
.skw-page__half--right .skw-page__content {
  padding-left: 30%;
  padding-right: 30%;
  transform-origin: 0 100%;
}
.skw-page.inactive .skw-page__content {
  opacity: 0.5;
  transform: skewX(18deg) scale(0.95);
}
.skw-page__heading {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
}
.skw-page__description {
  font-size: 18px;
  text-align: center;
}
.skw-page__link {
  color: #FFA0A0;
}
.skw-page-1 .skw-page__half--left .skw-page__content {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/mousover-img-1.jpg");
}
.skw-page-1 .skw-page__half--right .skw-page__content {
  background: #292929;
}
.skw-page-2 .skw-page__half--left .skw-page__content {
  background: #292929;
}
.skw-page-2 .skw-page__half--right .skw-page__content {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg");
}
.skw-page-3 .skw-page__half--left .skw-page__content {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/mousover-img-2.jpg");
}
.skw-page-3 .skw-page__half--right .skw-page__content {
  background: #292929;
}
.skw-page-4 .skw-page__half--left .skw-page__content {
  background: #292929;
}
.skw-page-4 .skw-page__half--right .skw-page__content {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg");
}
.skw-page-5 .skw-page__half--left .skw-page__content {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/img-test.jpg");
}
.skw-page-5 .skw-page__half--right .skw-page__content {
  background: #292929;
}