body {
    margin: 0;
    padding: 0; /* Add this line to remove default padding */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    text-align: center; /* Center the content within the header */
    padding: 15px 0; /* Add padding to the top and bottom of the header */
}

section {
    margin-top: 120px;
}
@import "bourbon";
 @import "neat";
 *, *:before, *:after {
	 box-sizing: border-box;
	 outline: none;
}
 html {
	 box-sizing: border-box;
	 background: #ffc600;
	 font-family: "helvetica neue";
	 font-size: 20px;
	 font-weight: 200;
}
 body {
	 margin: 0;
}
 *, *:before, *:after {
	 box-sizing: inherit;
}
 h1 {
	 margin-top: 0;
}
 .site-wrap {
	 max-width: 700px;
	 margin: 100px auto;
	 background: white;
	 padding: 40px;
	 text-align: justify;
}
 .align-left {
	 float: left;
	 margin-right: 20px;
}
 .align-right {
	 float: right;
	 margin-left: 20px;
}
 .slide-in {
	 opacity: 0;
	 transition: all 0.5s;
}
 .align-left.slide-in {
	 transform: translateX(-30%) scale(0.95);
}
 .align-right.slide-in {
	 transform: translateX(30%) scale(0.95);
}
 .slide-in.active {
	 opacity: 1;
	 transform: translateX(0%) scale(1);
}
 