body {
    font-family: 'Nova Square', sans-serif;
    display: flex;
    flex-direction:column;
    overflow-x: hidden;
    min-height: 100vh;
    
}

header {
    font-style: italic;
    font-family: 'Nova Square', sans-serif;
    z-index: 1;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    background-color: #C3E2C2;
    color: #fff;
    text-decoration: none;
}
.Heading a{
  text-decoration: none;
  color: #f5f5f5;
}
img{
  width: 200px;
  height: 200px;
   
}
h1 {
    margin: 0;
    font-size: 2em;
}

section {
    padding: 20px;
    background-image: url("I11.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    color: #000000;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 2;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color:lightgrey;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #88AB8E;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
  }
.menu{
    color:#f5f5f5;
    text-align:left;
    position:absolute;
    top: 15%;
    left: 2%;

}  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 30px;
    top: 15px;
    right: 35px;
    }
}
div hr{
  color:black;    
  font-weight: bolder;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #C3E2C2;
    color: #fff;
}
p{
  align-content: center;
}



*{
  box-sizing: border-box;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  text-decoration: none;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(2, 2, 2);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(4, 4, 4);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(0, 0, 0);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(255, 255, 255);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(0, 0, 0) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #C3E2C2;
  position: relative;
  border-radius: 6px;
  text-decoration: none;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid rgb(6, 6, 6);
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
.content a{
  text-decoration: none;
  color: #333;
}
.content p{
  font-weight: bold;
}
 