*{
    box-sizing: border-box;
}
body {
    font-family: 'Nova Square', sans-serif;;
    display: flex;
    flex-direction:column;
    overflow-x: hidden;
    min-height: 100vh;
  /*  background: #20002c;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
  /*  background: linear-gradient(to right, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
    font-style: italic;
    font-family: 'Nova Square', sans-serif;;
    z-index: 1;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    background-color: #C3E2C2;
    color: #fff;
    text-decoration: none;
}
.Heading a{
  text-decoration: none;
  color: #f5f5f5;
}

h1 {
    margin: 0;
    font-size: 2em;
}

section {
    padding: 20px;
    background-color: #fff;
    background-image: url("IM2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #000000;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    color: #000000;
}
p2{
  line-height: 1.6;
    color: #000000;
}
#more {display: none;} 

button{
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3cdaa0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}
button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 2;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color:lightgrey;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #b12727;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
  }
.menu{
    color:#f5f5f5;
    text-align:left;
    position:absolute;
    top: 15%;
    left: 2%;

}  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 30px;
    top: 15px;
    right: 35px;
    }
}
div hr{
  color:black;    
  font-weight: bolder;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #C3E2C2;
    color: #fff;
}
