*{
    box-sizing: border-box;
}
body {
  font-family: 'Nova Square', sans-serif;
    display: flex;
    flex-direction:column;
    overflow-x: hidden;
    min-height: 100vh;
  }
.Heading{
    color:black;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-family: 'Nova Square', sans-serif;
    z-index: 1;
    font-size: 25px;
}
.Heading a{
  text-decoration: none;
  color: black;
}
h6{
  text-align: center;
  margin-top: -20px;
  font-size: 20px;
  margin-bottom: -10px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 2;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f5f5f5;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
  }
.menu{
    color:black;
    text-align:left;
    position:absolute;
    top: 14%;
    left: 2%;

} 
.login{
  color:black;
  text-align:left;
  position:absolute;
  top: 15%;
  right: 2%;
}
.login a{
  color:black;
  text-decoration: none;
} 
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 30px;
    top: 15px;
    right: 35px;
    }
}
div hr{
  color:black;    
  font-weight: bolder;
}
.nobullets{
  list-style-type: none;
}
.nobullets a{
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 2px;
  text-align: center;
}

h5{
  color:whitesmoke;
  text-align: center;
  margin-top: 350px;
  font-size: 50px;
  font-family: 'Nova Square', sans-serif;
  font-weight: 100;
  font-variant: small-caps;
}
.welcome{
 margin-top: 250px;
 font-size: 50px;
 font-family: 'Nova Square', sans-serif;
 font-variant: small-caps;
 text-align: left;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.heading_information{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}
.suzuki figcaption{
    font-size: 20px;
    font-weight: 100px;
}
.mahindra figcaption{
  font-size: 20px;
  font-weight: 100;
}
.tata figcaption{
  font-size: 20px;
  font-weight: 100;
}
.toyota figcaption{
  font-size: 20px;
  font-weight: 100;
}
.wolkswagen figcaption{
  font-size: 20px;
  font-weight: 100;
}
.Bmw figcaption{
  font-size: 20px;
  font-weight: 100;
}
.lamborghini figcaption{
  font-size: 20px;
  font-weight: 100;
}
.porsche figcaption{
  font-size: 20px;
  font-weight: 100;
}
.rolls_royce figcaption{
  font-size: 20px;
  font-weight: 100;
}
.column {
  float:left;
  width:450px;
  padding: 2px;
  margin-left:80px;
  height: 250px; 
  border: 2px solid;
  margin-bottom: 5px;
  
 
}
.row::after {
  content: "";
  clear: both;
  display: table;
  margin-bottom: 50px;
}
img{
  height: 200px;
  width: 300px;
  padding-right: 150px;
}
figcaption{
font-size: 20px;
font-weight:bold;
text-align: center;
margin-top: 5px;
margin-right: 30px;
border: 1px thin black;
word-spacing: 2px;
}
.column a{
  text-decoration: none;
  color: black;
  margin-left: 150px;
}
.container{
  border: 2px solid;
}
