*{
  box-sizing: border-box;
}
body {
font-family: 'Nova Square', sans-serif;
  display: flex;
  flex-direction:column;
  min-height: 100vh;
  overflow-x: hidden;
}
.Heading h1 a{
  text-decoration: none;
  color: #b12727;

}
.Heading{
  color:#b12727;
  text-align: center;
  font-weight: 900;
  font-style: italic;
  font-family: 'Nova Square', sans-serif;
  z-index: 100;
  font-size: 25px;
}
h6{
text-align: center;
margin-top: -20px;
font-size: 20px;
margin-bottom: -10px;
color: #b12727;
word-spacing: 10px;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #fff;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  z-index: 100;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color:#b12727;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 50px;
  
}
.overlay .closebtn:hover{
  color: #b12727;
} 
.menu{
  color:#b12727;
  text-align:left;
  position:absolute;
  top: 10%;
  left: 2%;

} 
.login{
color:white;
text-align:left;
position:absolute;
top: 10%;
right: 2%;

}
.login a{
color:#b12727;
text-decoration: none;
} 
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 30px;
  top: 15px;
  right: 35px;
  }
}
div hr{
  color:#b12727;    
  font-weight: bolder;
}




/* Timeline */
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: absolute;
}
.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}
.timeline .timeline-item .timeline-badge {
  color: black;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -25px;
  background-color: #bbdefb;
  border: 3px solid #ffffff;

  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
  top: 2px;
  left: 0px;
  z-index: 1;
}
.timeline .timeline-item .timeline-badge.primary {
  background-color: lightgray;
}
.timeline .timeline-item .timeline-badge.info {
  background-color: darkgray;
}
.timeline .timeline-item .timeline-badge.success {
  background-color: gray;
}
.timeline .timeline-item .timeline-badge.warning {
  background-color: lightgray;
}
.timeline .timeline-item .timeline-badge.danger {
  background-color: darkgray;
}
.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 46%;
  float: left;
  right: 16px;
  border: 1px solid #c0c0c0;
  background: black;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline .timeline-item .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -16px;
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid #c0c0c0;
  border-right: 0 solid #c0c0c0;
  border-bottom: 16px solid transparent;
  content: " ";
}
.timeline .timeline-item .timeline-panel .timeline-title {
  margin-top: 0;
  font-size: 25px;
  font-family: 'Waiting for the Sunrise', cursive; 
  color: white;
}
.timeline .timeline-item .timeline-panel .timeline-body > p,
.timeline .timeline-item .timeline-panel .timeline-body > ul {
  margin-bottom: 0;
  font-family: 'Cinzel',sans-serif;
  color: #a79898;
}
.timeline .timeline-item .timeline-panel .timeline-body > p + p {
  margin-top: 0px;
}
.timeline .timeline-item:last-child:nth-child(even) {
  float: right;
}
.timeline .timeline-item:nth-child(even) .timeline-panel {
  float: right;
  left: 16px;
}
.timeline .timeline-item:nth-child(even) .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 20px 0px 20px 0px;
  display: inline-block;
}
.timeline-horizontal:before {
  height: 3px;
  top: auto;
  bottom: 26px;
  left: 56px;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item {
  display: table-cell;
  height: 280px;
  width: 20%;
  min-width: 320px;
  float: none !important;
  padding-left: 0px;
  padding-right: 20px;
  margin: 0 auto;
  vertical-align: bottom;
}
.timeline-horizontal .timeline-item .timeline-panel {
  top: auto;
  bottom: 64px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item .timeline-panel:before {
  top: auto;
  bottom: -16px;
  left: 28px !important;
  right: auto;
  border-right: 16px solid transparent !important;
  border-top: 16px solid #c0c0c0 !important;
  border-bottom: 0 solid #c0c0c0 !important;
  border-left: 16px solid transparent !important;
}
.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
  display: none;
}
.timeline-horizontal .timeline-item .timeline-badge {
  top: auto;
  bottom: 0px;
  left: 43px;
}
h2{
  text-align: center;
  font-size: 50px;
  word-spacing: 10px;
  text-decoration:wavy;
  color: #b12727;

}
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
#myVideo{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  
}
img{
  width: 100%;
  height: 100%;
}

