*{
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction:column;
    overflow-x: hidden;
    min-height: 100vh;
  }
.Heading{
    color:black;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
    font-size: 25px;
}
h6{
  text-align: center;
  margin-top: -20px;
  font-size: 20px;
  margin-bottom: -10px;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 2;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f5f5f5;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
    
  }
  .overlay .closebtn:hover{
    color: whitesmoke;
  } 
.menu{
    color:black;
    text-align:left;
    position:absolute;
    top: 10%;
    left: 2%;

} 
.login{
  color:black;
  text-align:left;
  position:absolute;
  top: 10%;
  right: 2%;

}
.login a{
  color:black;
  text-decoration: none;
} 
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 30px;
    top: 15px;
    right: 35px;
    }
}
div hr{
    color:black;    
    font-weight: bolder;
  }

.tab {
    overflow: hidden;
    border: 1px solid ;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: 0.5px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid ;
    border-top: none;
  }
.name
{
    display: flex;
    align-items:normal;
    justify-content:flex-start;
}
.name img{
    height: 400px;

}
.text
{
    margin-left: 50px;
    font-size: 30px;
}
.broucher button{
    background-color:white;
    color:orangered;
    border: 2px solid orangered;
    border-radius: 2px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-style:normal;
    font-size: 15px;
    margin-top: 20px;
}
.text p{
    font-size: 15px;
    margin-top: -30px;
}
.column {
    float: left;
    width:400px;
    padding: 2px;
    margin-left:10px;
    height: 250px; 
    border: 2px solid;
    margin-bottom: 5px;
    background-color:white;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .heading_information{
    text-align: center;
    font-size: 20px;
}
.img1{
    height: 235px;
    width: 390px;
    margin-top: 6px;
}
.img2{
    height: 235px;
    width: 390px;
    margin-top: 6px;
}
.img3{
    height:235px ;
    width:390px ;
    margin-top: 6px;

}
.img4{
    height: 235px;
    width: 390px;
    margin-top: 6px;
}
.img5{
    height: 235px;
    width: 390px;
    margin-top: 6px;
}
.img6{
    height: 235px;
    width: 390px;
    margin-top: 6px;
}
.background{
    background-color: white;
    border: 2px solid white;
}
.background p{
    font-weight:bold;
}
.key hr{
    width: 45%;
    text-align: left;
    margin-left: 0;
}
.key2 hr{
    width: 45%;
    text-align: left;
    margin-left: 0;
}
figcaption{
    text-align: center;
    margin-top: 5px;
    font-weight: lighter;
    font-size: 30px;

}
.color{
    height: 220px;
    width: 390px;
    margin-top: 6px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}